rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userID){
      return isAnyAuthenticated() && userID == request.auth.uid

    }

    match /users/{userID} {
      allow create, update: if isUserAuthenticated(userID);
      allow get: if isUserAuthenticated(userID)
    }
  }
}