/*********** Module Spacer ***********/
.module-spacer--extra-small {
  height: 12px;
}
.module-spacer--small {
  height: 20px;
}
.module-spacer--medium {
  height: 32px;
}

/********section*********/
.center {
  margin: 0 auto;
  text-align: center;
}

/*命名規則については、https://murashun.jp/blog/20170729-01.html */
.c-main {
  padding: 96px 0;
  background-color: aqua;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem;
  height: auto;
  width: calc(100% - 2rem);
}

.c-content-display {
  display: flex;
}

/* Utilityゾーン */
.u-text__headline {
  color: #000000;
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}

.u-text-center {
  text-align: center;
}
